<body> 
<app-menu></app-menu>
<div class="container" *ngIf="rol_persona">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="number" class="form-control" id="id" readonly="true" name="id" [(ngModel)]="rol_persona.id_PERSONA_ROL"
                        required>
                </div>

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"  readonly="true" [(ngModel)]="rol_persona.persona.nombre"
                        required>
                </div>

                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos" name="apellidos" readonly="true" [(ngModel)]="rol_persona.persona.apellidos"
                        required>
                </div>

                <div class="form-group">
                    <label for="dni">Dni</label>
                    <input type="number" class="form-control" id="dni" name="dni" readonly="true" [(ngModel)]="rol_persona.persona.dni"
                        required>
                </div>

                <br>
                <label for="rol">Rol</label>
                <select name="rol" class="form-control"  [(ngModel)]="rol_persona.rol.id_Rol"> 
                  
                  <option value="1" >Administrador</option>
                  <option value="3">Usuario</option>
                  <option value="2">Bibliotecario</option> 
                </select>
    
                   
                 <br>
               
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
                <button class="btn btn-outline-primary btn-block" routerLink="/lista_per_rol">
                    <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </form>
        </div>
    </div> 
    </div>