<app-menu></app-menu>
<body> 
<div class="contenedor-login">
  <!--Imagen de Portada-->
  <div class="contenedor-portada">
      <img src="https://i.ibb.co/tzKJ49n/login2.jpg">               
  </div>


<div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>Ya has iniciado sesión</h2>
</div>



<ng-template #loggedOut>
    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" routerLink="/registro">Crear Cuenta</a>
                    </li>
                    
                  </ul>
            </div>
            <div class="card-body">
              <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>

                <div class="form-group">
                    <label for="dni">DNI</label>
                    <input type="number" name="dni" id="dni" class="form-control"
                    [(ngModel)]="dni" required>
                </div>

                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" name="nombre" id="nombre" class="form-control"
                  [(ngModel)]="Nombre" required>
              </div>

              <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input type="text" name="apellidos" id="apellidos" class="form-control"
                [(ngModel)]="Apellidos" required>
            </div>


            <div class="form-group">
                <label for="direccion">Direccion</label>
                <input type="text" name="direccion" id="direccion" class="form-control"
                [(ngModel)]="Direccion" required>
            </div>

            <div class="form-group">
                <label for="telefono">Telefono</label>
                <input type="number" name="telefono" id="telefono" class="form-control"
                [(ngModel)]="Telefono" required>
            </div>

            <div class="form-group">
                <label for="correoElectronico">Correo Electrónico</label>
                <input type="email" name="correoElectronico" id="correoElectronico" class="form-control"
                [(ngModel)]="CorreoElectronico" required>
            </div>

                  <div class="form-group">
                    <label for="clave">Contraseña</label>
                    <input type="password" name="clave" id="clave" class="form-control"
                    [(ngModel)]="Clave" required>
                </div>
              

              <br>
                <div class="form-group">
                    <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                        <i class="fas fa-sign-in-alt"></i> Crear Cuenta</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</ng-template>
